<div class="survey-container">
  <div class="survey-container__text">
    Что вам больше всего не понравилось на странице?
  </div>
  <div class="survey-container__choices">
    <div class="survey-container__choice">Шишка</div>
    <div class="survey-container__choice">Мышка</div>
    <div class="survey-container__choice">Лыжка</div>
    <div class="survey-container__choice">Пишка</div>
    <div class="survey-container__choice">Мармышка</div>
    <div class="survey-container__choice">Мишишка</div>
  </div>
  <div class="survey-container__button">
    Далее
  </div>
</div>