.survey-container {
  display: flex;
  background-color: var(--grey-main);
  width: fit-content;
  flex-direction: column;
  border-radius: 16px;
  padding: 32px;
  gap: 8px;

  &__text {
    width: 350px;
    word-break: break-word;
    font-family: var(--main-font);
    font-size: var(--secondary-text);
    color: var(--white);
    margin-bottom: 16px;
  }

  &__button {
    user-select: none;
    width: fit-content;
    font-size: var(--secondary-text);
    font-family: var(--main-font);
    background-color: var(--neon-main);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &:hover {
      background-color: var(--neon-secondary);
    }
  }
}
