@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Monoton&display=swap");
@import "components/main/main";
@import "components/survey/survey";

:root {
  --black: #000000;
  --neon-main: #ff06b5;
  --neon-secondary: #ff80d7;
  --neutral-dark: #0f0f0f;
  --black-transperent: #0000007f;
  --neutral-main: #141414;
  --shadow-color: #0000004c;
  --hover-color: #1a1a1a;
  --neutral-light: #212121;
  --border-color: #262626;
  --grey-main: #ffffff33;
  --grey-secondary: #999999;
  --white: #ffffff;
  --neutral-main-with-opacity: #0e0e0eb2;
  --input-font: "Roboto", sans-serif;
  --main-font: Manrope, solid;
  --caption: 12px;
  --main-text: 15px;
  --header-300: 30px;
  --minus-layer: -1;
  --first-layer: 1;
  --second-layer: 2;
  --third-layer: 3;
}
